.promo {
    padding-top: 210px;
}
@media (max-width: 767.98px){
    .promo {
        padding-top: 150px;
    }
}

.promo__wrap {
    position: relative;
    width: 100%;
    min-height: 710px;
    overflow: hidden;
}


.promo__bg-shadow-midle img {
    position: absolute;
    left: 25%;
    top: 20%;
    z-index: -3;
    max-width: 100%;
    height: auto;
    width: 68.54%;
    height:  88.45%;
}

@media (max-width: 930px) {
    .promo__bg-shadow-midle img {
        top: 0%;
    }
}

.promo__bg-img1 {
    position: absolute;
    left: 32.39%;
    top: 3.52%;
    z-index: -2;
}

.promo__bg-img2 {
    position: absolute;
    margin-left: 37.09%;
    top: 0%;
    max-width: 48.12%;
    max-height: 100%;
    z-index: -1;
}
@media (max-width: 767.98px){
    .promo__bg-img2 {
        display: none;
    }
    .promo__bg-shadow-midle img {
        display: none;
    }
}
/* =========================================== */
.promo__info-block {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    min-height: 100%;
}
@media (max-width: 767.98px){
    .promo__info-block {
        flex-direction: column;
        min-height: 0;
    }
}

.promo__info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.promo__title {
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    text-align: left;
    text-transform: uppercase;
    max-width: 600px;
}

.promo__subtitle {
    color: #818fa3;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
}

.promo__button {
    border-radius: 25px;
    background: #0478fe;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 25px 68px;
    max-width: 198px;
    white-space: nowrap;
    transition: all 0.3s;
}
.promo__button:hover {
    background-color: #005AE0;
}
@media (max-width: 1023.98px){
    .promo__title {
        font-size: 80px;
         max-width: 600px;
         line-height: 80px;
    }
}
@media (max-width: 768.98px){
    .promo__title {
        font-size: 70px;
         max-width: 500px;
         line-height: 60px;
    }
    .promo__button {
        font-size: 16px;
        padding: 20px 68px;
        max-width: 198px;
    }
}
@media (max-width: 424.98px){
    .promo__title {
        font-size: 50px;
         max-width: 400px;
    }
    .promo__subtitle {
        font-size: 18px;
        line-height: 24px;
    }

}
/* --------------------------------- */
.promo__indexes {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    margin-top: 225px;
}

.indexes__trade {}

.trade__nums {   
    font-size: 46px;
    font-weight: 600;}

.trade__text {
    color: #818fa3;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


.indexes__ligaments {}

.ligaments__nums {
    font-size: 46px;
    font-weight: 600;
}

.ligaments__text {
    color: #818fa3;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
@media (max-width: 767.98px){
    .promo__indexes {
        flex-direction: row;
        column-gap: 90px;
        margin-top: 65px;
    }
}
@media (max-width: 424.98px){
    .ligaments__text,
    .trade__text {
        font-size: 16px;
    }
    .ligaments__nums,
    .trade__nums {
        font-size: 36px;
    }
    .promo__indexes {
        column-gap: 60px;
    }
}