.promo {
    padding-top: 150px;
}

@media (max-width: 1023.98px) {
    .promo {
        padding-top: 50px;
    }
}

.promo__wrap {
    position: relative;
}


/* ==================================================================================== */

.promo__background-wrap {}

.promo__background {}

.promo__bg-image {}

.promo__bg-shadow {}

.promo__bg-robot {
    position: absolute;
    top: -1%;
    right: 140px;
}

/* ==================================================================================== */
.promo__info-block {
    display: flex;
    justify-content: space-between;
    background: url('../../img/main/bg1.png'), radial-gradient(circle, #0478FE 5%, transparent 70%);
    background-size: 750px 750px;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 730px;
    max-height: 730px;
    
}

@media (max-width: 1023.98px) {
    .promo__info-block {
        flex-direction: column;
        justify-content: start;
        background: none;

    }

    .promo__bg-robot {
        display: none;
    }
}

.promo__info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    z-index: 10;
}

.promo__title {
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    text-align: left;
    text-transform: uppercase;
    max-width: 600px;
    padding-top: 30px;
}

.promo__subtitle {
    color: #818fa3;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
}

.promo__button {
    border-radius: 25px;
    background: #0478fe;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 25px 68px;
    max-width: 198px;
    white-space: nowrap;
    transition: all 0.3s;
}

.promo__button:hover {
    background-color: #005AE0;
}

@media (max-width: 1023.98px) {
    .promo__title {
        font-size: 80px;
        max-width: 600px;
        line-height: 80px;
    }
}

@media (max-width: 768.98px) {
    .promo__info-block {

        min-height: 620px;
        max-height: 620px;
        
    }
    .promo__title {
        font-size: 70px;
        max-width: 500px;
        line-height: 60px;
    }

    .promo__button {
        font-size: 16px;
        padding: 20px 68px;
        max-width: 198px;
    }
}

@media (max-width: 424.98px) {
    .promo__title {
        font-size: 50px;
        max-width: 400px;
    }

    .promo__subtitle {
        font-size: 18px;
        line-height: 24px;
    }

}

/* --------------------------------- */
.promo__indexes {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-top: 225px;
    padding-right: 40px;
}

.indexes__trade {}

.trade__nums {
    font-size: 46px;
    font-weight: 600;
}

.trade__text {
    color: #818fa3;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.indexes__ligaments {}

.ligaments__nums {
    font-size: 46px;
    font-weight: 600;
}

.ligaments__text {
    color: #818fa3;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

@media (max-width: 1023.98px) {
    .promo__indexes {
        flex-direction: row;
        column-gap: 45px;
        padding-top: 60px;
        padding-right: 0px;
    }

    .indexes__trade {
        border-right: 1px solid #2B394D;
        padding-right: 45px;
    }
}

@media (max-width: 424.98px) {
    .ligaments__text,
    .trade__text {
        font-size: 16px;
    }

    .ligaments__nums,
    .trade__nums {
        font-size: 36px;
    }
}