.tariffs {
    padding-bottom: 80px;
}

.tariffs__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----------------------------------------- */
.tariffs__headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 46px;
    width: 100%;
}

.tariffs-headline__left-img {}

.tariffs-headline__right-img {}

.tariffs-headline__main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tariffs-headline__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 79px;
    border-radius: 25px;
    background: rgb(4, 120, 254);
}
.headline-icon__img {
    position: relative;
}
.headline-icon__img::before,
.headline-icon__img::after {
    content: '';
    position: absolute;
    border: 1px solid rgba(35, 46, 69, 0.302);
    width: 180px;
}

.headline-icon__img::before {
    top: 50%;
    right: 270%;
}

.headline-icon__img::after {
    top: 50%;
    left: 270%;
}

.tariffs-headline__shadow {
    position: absolute;
}

.tariffs-headline__title {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 18px;
}

.tariffs-headline__subtitle {
    color: rgb(129, 143, 163);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

/* ------------------------------------------ */
.tariffs__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 415px;
}

.tariffs__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background: rgb(27, 36, 52);
    width: 376px;
    height: 332px;
    cursor: pointer;
    transition: all 0.3s;
}
.tariffs__item:hover {
    box-shadow: 13px 50px 85px 0px rgba(4, 120, 254, 0.27),inset 0px 4px 85px 0px rgb(60, 151, 255);
    background: #0478fe;
    height: 415px;
    cursor: pointer;
}
.tariffs__item:hover .tariffs-item__title,
.tariffs__item:hover .tariffs-item__amount {
    color: #FFFFFF;
}
.tariffs__item:hover .tariffs-item__button {
    background-color: #FFFFFF;
    color: #151B27; 
    /* border-color: #0478FE; */
}
.tariffs-item__button:hover {
    background-color:#005AE0;
    color: #FFFFFF;
}

.tariffs-item__title {
    color: rgb(129, 143, 163);
    font-size: 21px;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
}

.tariffs-item__amount {
    color: rgb(4, 120, 254);
    font-size: 65px;
    font-weight: 600;
    line-height: 45px;
    text-transform: uppercase;
    padding-top: 62px;
    padding-bottom: 46px;
}

.tariffs-item__button {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(4, 120, 254);
    border-radius: 25px;
    padding: 25px 68px;
    transition: all 0.3s;
    white-space: nowrap;
}
.tariffs__cards .tariffs__item .tariffs-item__button:hover {
    background-color: #005AE0;
    color: #fff;
}

@media (max-width: 1023.98px){
    .tariffs-headline__left-img,
    .tariffs-headline__right-img {
        display: none;
    }
    .tariffs-headline__main-block {
        align-items: start;
    }
    .tariffs-item__amount {
        font-size: 55px;
    }
    .tariffs-headline__shadow {
        display: none;
    }
    .headline-icon__img::before,
    .headline-icon__img::after {
        display: none;
    }
}
@media (max-width: 767.98px){

    .tariffs-headline__title {
        font-size: 43px;
        padding-top: 30px;

    }
    
    .tariffs-headline__subtitle {
        font-size: 16px;
    }

    .tariffs__cards {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .tariffs__item {
        width: 100%;
    }
    .tariffs-item__button {
        padding: 20px 60px;
    }
}